In [21]:
# Reading the dataset

import pandas as pd
import os
os.chdir('C:/Users/dell/Downloads/AjayB')
df = pd.read_csv("ccx_row_input_data.csv",encoding='latin-1',nrows=200)
df = df[['profileId', 'programId', 'score', 'name']]

In [22]:
df.shape

(200, 4)

In [23]:
df.head()

,profileId,programId,score,name
0,[ee535a1d-6034-4bd9-a154-b21dd7a8e03c],667969ThirdParty3331353638303536,30.00,L'enlÌ¬vement 2
1,[df82733a-97c1-4002-81fa-fe6933600eb3],667969ThirdParty3332393432343436,30.00,ÌÛ la valdrague
2,[15221437-5617-4bba-a57e-ab7febed831e],667969ThirdParty373732323236,30.00,Taking Chance
3,[c6f96fd7-a955-4fb2-9446-06be4d80e09a],667969ThirdParty3330313932323231,10.64,Rapides et dangereux
4,[ea34f2aa-0baa-49e3-b7a7-a7873b2b8db6],667969ThirdParty3330313932323231,35.48,Rapides et dangereux

In [24]:
data = df.dropna()

In [25]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [26]:
data['profileId'] = data['profileId'].astype("category")
data['profileId'] = le.fit_transform(data['profileId'])

In [27]:
data['programId'] = data['programId'].astype("category")
le_1 = LabelEncoder()
data['programId'] = le_1.fit_transform(data['programId'])

In [28]:
data['name'] = data['name'].astype("category")
le_2 = LabelEncoder()
data['name'] = le_2.fit_transform(data['name'])

In [29]:
data.head()

   profileId  programId  score  name
0        117         24  30.00    25
1        105         31  30.00    45
2          9         42  30.00    35
3         94         21  10.64    28
4        114         21  35.48    28

In [30]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.ml.recommendation import ALS
from pyspark import SparkContext

sc = SparkContext()

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=pyspark-shell, master=local[*]) created by __init__ at <ipython-input-10-e8291d723f8a>:6

In [31]:
spark = SparkSession.builder.appName('pandasToSparkDF').getOrCreate()

In [32]:
# ppandas dataframe to spark dataframe
dfs = spark.createDataFrame(data)

In [33]:
# train test split , 80 20 
dfs_train, dfs_test = dfs.randomSplit([0.8, 0.2])

In [35]:
from pyspark.ml.recommendation import ALS

RANK = 10
MAX_ITER = 15
REG_PARAM = 0.05

COL_USER = "profileId"
COL_ITEM = "name"
COL_RATING = "score"
COL_PREDICTION = "prediction"

als = ALS(
    maxIter=MAX_ITER, 
    rank=RANK,
    regParam=REG_PARAM, 
    userCol=COL_USER, 
    itemCol=COL_ITEM, 
    ratingCol=COL_RATING, 
    coldStartStrategy="drop"
)

model = als.fit(dfs_train)

In [36]:
dfs_pred = model.transform(dfs_test)

In [37]:
dfs_pred.show()

+---------+---------+-----+----+----------+
|profileId|programId|score|name|prediction|
+---------+---------+-----+----+----------+
|       14|       12| 30.0|  34| 18.648788|
|       66|       12| 30.0|  34| 24.802433|
|      109|       29|100.0|  44| 108.64346|
|       67|       29|100.0|  44|-11.501342|
|       78|       35| 30.0|  13| 2.3072357|
|       90|       25| 30.0|   6| 14.850961|
|       85|       11| 90.0|   7|-15.695039|
|       13|        9|  5.8|  33|  1.316195|
|       49|        9|  5.8|  33|  1.316195|
|       52|       34|100.0|   2| 52.290718|
|        9|       34|100.0|   2|-82.710045|
|       63|       34|100.0|   2| 46.334053|
|      113|       34| 30.0|   2| 11.058773|
|       98|       34|100.0|   2| 20.532871|
|       78|       16|100.0|  36|  14.55468|
|        5|       16|100.0|  36|  44.66456|
|       59|       16| 30.0|  36|  56.11152|
+---------+---------+-----+----+----------+

In [38]:
users = dfs_train.select('profileId').distinct()
items = dfs_train.select('name').distinct()
user_item = users.crossJoin(items)
dfs_pred = model.transform(user_item)

In [39]:
# Remove seen items.
dfs_pred_exclude_train = dfs_pred.alias("pred").join(
    dfs_train.alias("train"),
    (dfs_pred['profileId'] == dfs_train['profileId']) & (dfs_pred['name'] == dfs_train['name']),
    how='outer'
)

In [40]:
dfs_pred_exclude_train.show()

+---------+----+----------+---------+---------+-----+----+
|profileId|name|prediction|profileId|programId|score|name|
+---------+----+----------+---------+---------+-----+----+
|       15|  18| 7.5308795|     null|     null| null|null|
|       21|   9|-5.3684297|     null|     null| null|null|
|       22|  25| 16.632195|     null|     null| null|null|
|       25|  24| 1.1157551|     null|     null| null|null|
|       27|   0|  8.114546|     null|     null| null|null|
|       27|  20| 11.365269|     null|     null| null|null|
|       29|   3| 25.464739|     null|     null| null|null|
|       29|  37|-1.1786822|     null|     null| null|null|
|       33|  36| 29.997887|       33|       16| 30.0|  36|
|       34|   6|  8.337781|     null|     null| null|null|
|       35|  30|  6.886712|     null|     null| null|null|
|       61|  34| 47.174744|     null|     null| null|null|
|       68|  21|  5.609314|     null|     null| null|null|
|       82|  10| 32.681553|     null|     null| null|null|
|       83|  25| 0.1082592|     null|     null| null|null|
|       86|   9|-21.818848|     null|     null| null|null|
|       87|  33|  4.647318|     null|     null| null|null|
|       92|  10|  8.589676|     null|     null| null|null|
|      108|   8|-19.429737|     null|     null| null|null|
|      112|  20|  9.365735|     null|     null| null|null|
+---------+----+----------+---------+---------+-----+----+
only showing top 20 rows

In [41]:
dfs_pred_final = dfs_pred_exclude_train.filter(dfs_pred_exclude_train["train.score"].isNull()).select('pred.' + 'profileId', 'pred.' + 'name', 'pred.' + "prediction")

dfs_pred_final.take(2)

[Row(profileId=15, name=18, prediction=7.530879497528076),
 Row(profileId=21, name=9, prediction=-5.368429660797119)]

In [42]:
dfs_pred_final.show()

+---------+----+----------+
|profileId|name|prediction|
+---------+----+----------+
|       15|  18| 7.5308795|
|       21|   9|-5.3684297|
|       22|  25| 16.632195|
|       25|  24| 1.1157551|
|       27|   0|  8.114546|
|       27|  20| 11.365269|
|       29|   3| 25.464739|
|       29|  37|-1.1786822|
|       34|   6|  8.337781|
|       35|  30|  6.886712|
|       61|  34| 47.174744|
|       68|  21|  5.609314|
|       82|  10| 32.681553|
|       83|  25| 0.1082592|
|       86|   9|-21.818848|
|       87|  33|  4.647318|
|       92|  10|  8.589676|
|      108|   8|-19.429737|
|      112|  20|  9.365735|
|      112|  39| 18.050344|
+---------+----+----------+
only showing top 20 rows

In [43]:
# Top k for a selected set of users (items)¶

users = dfs_train.select(als.getUserCol()).distinct().limit(3)

dfs_rec_subset = model.recommendForUserSubset(users, 10)

dfs_rec_subset.show(10)

+---------+--------------------+
|profileId|     recommendations|
+---------+--------------------+
|       65|[[21, 29.997046],...|
|       26|[[2, 99.998886], ...|
|       29|[[44, 99.99711], ...|
+---------+--------------------+

In [44]:
dfs_rec = model.recommendForAllUsers(10)

dfs_rec.show(10)

+---------+--------------------+
|profileId|     recommendations|
+---------+--------------------+
|       31|[[44, 108.64346],...|
|       85|[[16, 89.99821], ...|
|       65|[[21, 29.997046],...|
|       78|[[38, 59.99846], ...|
|      108|[[34, 39.693142],...|
|       34|[[44, 62.329063],...|
|      101|[[2, 99.999275], ...|
|      115|[[44, 108.64346],...|
|      126|[[22, 70.752655],...|
|       76|[[44, 65.18608], ...|
+---------+--------------------+
only showing top 10 rows

In [45]:
from pyspark.ml.evaluation import RegressionEvaluator

evaluator = RegressionEvaluator(metricName="rmse", labelCol="name",
                                predictionCol="prediction")

rmse = evaluator.evaluate(dfs_pred)
print("Root-mean-square error = " + str(rmse))

Root-mean-square error = 31.195965162209717

In [47]:
from reco_utils.evaluation.spark_evaluation import SparkRankingEvaluation, SparkRatingEvaluation

In [49]:
#Number of recommended items

K = 10


evaluations = SparkRankingEvaluation(
    dfs_test, 
    dfs_pred_final,
    col_user=COL_USER,
    col_item=COL_ITEM,
    col_rating=COL_RATING,
    col_prediction=COL_PREDICTION,
    k=K
)

print(
    "Precision@k = {}".format(evaluations.precision_at_k()),
    "Recall@k = {}".format(evaluations.recall_at_k()),
    "NDCG@k = {}".format(evaluations.ndcg_at_k()),
    "Mean average precision = {}".format(evaluations.map_at_k()),
    sep="\n"
)

Precision@k = 0.06875
Recall@k = 0.65625
NDCG@k = 0.40143496423697733
Mean average precision = 0.30937499999999996

In [53]:
pandasOutput = dfs_pred_final.toPandas()

In [57]:
pandasOutput.head()

   profileId  name  prediction
0         15    18    7.530879
1         21     9   -5.368430
2         22    25   16.632195
3         25    24    1.115755
4         27     0    8.114546

In [97]:
backup = pandasOutput

In [98]:
backup.profileId = le.inverse_transform(backup.profileId)

ValueError: y contains previously unseen labels: ['[071cbaa4-d762-4b34-a6b3-44b0f3717097]'
 '[09a5d78a-e17d-4e17-b0bb-d8129265c95d]'
 '[0a49485c-a47e-49ba-bcaa-16356472787b]'
 '[0de3eebb-54d0-4c2b-a257-a720d755f739]'
 '[0ebe48fc-5172-46cf-9184-b5de238b2eec]'
 '[12f4a239-d802-4d95-861f-fff133ff67d4]'
 '[140346b1-6e3d-4554-8860-b9be194a9a85]'
 '[148cb703-6388-4d5c-b9e2-db4e39aea0b7]'
 '[15221437-5617-4bba-a57e-ab7febed831e]'
 '[162931c4-59ca-4028-9e10-9c0a6e28823a]'
 '[16bc0f43-a61b-4e9d-8d76-11495c44bb45]'
 '[170b074d-f3bd-422f-9264-9778eecd1534]'
 '[17d0108b-6f05-4464-99a2-c3ea8a1087f4]'
 '[183ab5c2-92c2-4a48-b8fc-032f0ee6f7f1]'
 '[21c34c1d-23c6-4191-ae9a-5c3f91cb2cb9]'
 '[241b1d65-5905-42b2-9104-5c1580991f15]'
 '[28b8b56a-335f-4a21-8254-8e3527c4fb0b]'
 '[2a23e3e9-d943-4f30-a36f-597f5b1f774f]'
 '[2c6bf78c-5e2c-4a57-ba8e-dde8980757b8]'
 '[2e8ebf1e-dd97-492d-8f50-79917a4e3efc]'
 '[31ffcb2f-62c0-4ef5-8d01-33924a772bde]'
 '[3302bd0f-3972-4611-b61b-1ad3b616965b]'
 '[3965253d-511b-4cbe-bdad-3c34e61c9a1e]'
 '[3e613f48-b2ff-409f-87ff-d72af2679a6f]'
 '[401a7e2f-ec74-4007-949c-26b5d1b40c0f]'
 '[40dc1b39-8e81-421e-9f54-0f55a458f24b]'
 '[4100a63b-81b8-4382-b325-a3a862a5ff1b]'
 '[44673307-729d-46e7-a037-9e7774efa07d]'
 '[47777ec8-191c-4e88-bed9-6bbea2f1bf77]'
 '[4bca2099-3173-467d-93e2-9674e8c910e1]'
 '[4c101d53-0720-4ef2-b85a-5d5bbde53be1]'
 '[4da41c25-471b-420e-8d44-64386cf8b4aa]'
 '[516d35b9-b9bb-4f21-9a57-3015c7f99f5e]'
 '[533abace-469d-410a-8d99-ed5e74ca5c41]'
 '[54aa7bb4-46b8-488a-9208-bf7eae0a63ef]'
 '[5663d8a5-2fb3-4fd9-89eb-954a2e9ed078]'
 '[5812a2d7-ac3e-4a9c-9b6e-701b5dceeaae]'
 '[5e1b55ac-a8de-4fb2-bdc8-839b9ba3d285]'
 '[5f6cf0cb-ee2b-45c3-85b9-52155f2f9f0f]'
 '[610b249f-07c9-4ffa-bcf0-2e3145753a7c]'
 '[61b678d0-cdf1-4642-8d86-9a9210234189]'
 '[639051ed-4ff7-4896-9271-278ccc87c4fa]'
 '[6bfd3065-e228-421a-bd8e-02c768069973]'
 '[742757ce-0779-495f-afe5-85fd182388d2]'
 '[77eca755-00b3-4b15-acba-7efe6590aa3e]'
 '[7b8dba44-7eeb-4891-8b20-83283187aaef]'
 '[7cfa0340-24da-475a-95c0-efa9ba057752]'
 '[7fb7a9f8-9808-4e5b-8d13-94d5759482cd]'
 '[7fbf14da-20ee-4933-97b8-eeed6d859326]'
 '[82760d65-ce36-4c3c-9e3e-ba9ddbe74182]'
 '[85155d53-0d11-4c84-a523-cc69eea4314e]'
 '[8d0f2deb-a927-4ad8-a34a-0a8cf9ca6451]' '[9155724206313366338]'
 '[9155729615113769197]' '[9155729632813787948]' '[9155755522013993620]'
 '[9155876507213014883]' '[9155940902413331243]' '[9155975330313786634]'
 '[9156327512213275285]' '[94c1b99d-d4e9-4af0-8d8b-963e80edf471]'
 '[958aace3-5d56-43ab-9f33-1b264807ba75]'
 '[96ec401c-195d-404a-9751-12dc01e14b0c]'
 '[9af08be7-4982-484a-a332-03a42bfd9476]'
 '[9e200b09-c86e-41cd-b268-b7061df687b9]'
 '[a19d2842-c904-480c-a19e-81a4ede458f6]'
 '[a33836a1-6d8d-480f-b492-a97f6bc3e5c3]'
 '[a35de627-9159-4caf-84cb-636c7dc976cd]'
 '[a626d5de-5d86-405e-9c3f-0f6534cb347c]'
 '[ae19505c-4e8e-4dd9-b83f-fd76a137c7f0]'
 '[b11f0431-4739-45a5-8ae1-9a86e324bbfd]'
 '[b5d2d47e-af72-4958-aa6b-e38bacd73e94]'
 '[b7c45b5d-67b7-4d02-a4d9-e289668658a7]'
 '[bd263c19-cb40-47c0-8506-e8e49464414b]'
 '[c51a8454-c3be-4211-aa19-0072928d3a0a]'
 '[c6977905-9e9d-4e73-8793-a59b1d68a05f]'
 '[c6f96fd7-a955-4fb2-9446-06be4d80e09a]'
 '[c777f8ff-d67f-42d4-b88b-6ee6ce2b442c]'
 '[c9c740c4-6509-4472-a729-a0a633ebfe4a]'
 '[ce540557-734b-458f-8118-b9cba7982bd5]'
 '[cfe90742-bfef-49ab-8c20-76fbad0f375c]'
 '[d399c3d8-0f00-4c6e-a539-6a45b600212b]'
 '[d40dae91-5339-465b-bb8b-391a11e8552b]'
 '[d5489cb5-32db-40c1-97f4-eb13e531a96c]'
 '[d61ab7c8-5aa3-42a6-8286-e2ece2b6211a]' '[dallard1]'
 '[df82733a-97c1-4002-81fa-fe6933600eb3]' '[dsguser11]' '[dsguser24]'
 '[e56bcc04-6962-4411-a10b-a9354c1910a7]'
 '[e76e6b23-5403-46a8-9431-1015cd10e4f1]'
 '[e9ab3c07-4011-4788-bf9c-c2c5fe738df2]'
 '[e9e84e8f-6853-44a3-87e1-619028b76797]'
 '[ea05979f-ff98-4ac1-8603-cb88e5c00046]'
 '[ea34f2aa-0baa-49e3-b7a7-a7873b2b8db6]'
 '[ec243f5c-62c9-47ea-b35e-8f6d5282aa01]'
 '[ec328d33-68ce-42d3-91ea-b303a4d25421]'
 '[ee535a1d-6034-4bd9-a154-b21dd7a8e03c]' '[enguser17]'
 '[f06fe6ce-2470-43e6-8982-3836d1d1734a]'
 '[f09674d0-5b73-4af7-a950-66c243aa762d]'
 '[f22c8fff-63f9-4a28-8a7b-a92167fa35be]'
 '[f60a4259-d7f9-43db-9ca1-03d28b046270]'
 '[f7d7f8c6-7d81-4ce6-9709-a657c932c682]'
 '[f80e8448-71e3-4940-a16e-fd46391b077d]'
 '[faa2307a-9ba5-48a4-84d4-b6e0180061ed]' '[fieldops001]' '[fieldops002]'
 '[liteuser021]' '[mkuser16]' '[noc1etv3@live.com]' '[ont116]' '[ont144]'
 '[proj007]' '[proj025]' '[que075]' '[que116]' '[que128]' '[que162]'
 '[que168]' '[uatuser21]' '[vendor19]']

In [88]:
backup.head()

                                profileId  name  prediction
0  [17d0108b-6f05-4464-99a2-c3ea8a1087f4]    18           7
1  [2a23e3e9-d943-4f30-a36f-597f5b1f774f]     9          -5
2  [2c6bf78c-5e2c-4a57-ba8e-dde8980757b8]    25          16
3  [31ffcb2f-62c0-4ef5-8d01-33924a772bde]    24           1
4  [3965253d-511b-4cbe-bdad-3c34e61c9a1e]     0           8

In [110]:
newbackup = backup[(backup.prediction>0) & (backup.prediction<=45)]

In [113]:
newbackup.prediction = le_2.inverse_transform(newbackup.prediction)
newbackup.name = le_2.inverse_transform(newbackup.name)

C:\Users\dell\Anaconda3\lib\site-packages\pandas\core\generic.py:3643: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [114]:
newbackup.head()

,profileId,name,prediction
0,[17d0108b-6f05-4464-99a2-c3ea8a1087f4],Friday the 13th Part VII: The New Blood,CTV Toronto News at 6
2,[2c6bf78c-5e2c-4a57-ba8e-dde8980757b8],L'enlÌ¬vement 2,Fixer Upper
3,[31ffcb2f-62c0-4ef5-8d01-33924a772bde],Jersey Shore,A Cure for Wellness
4,[3965253d-511b-4cbe-bdad-3c34e61c9a1e],101 S02E01,Carter
5,[3965253d-511b-4cbe-bdad-3c34e61c9a1e],Henchmen,David Lynch: The Art Life

In [116]:
newbackup.to_csv('Output.csv',index = False)